body{
    border: 2px solid red;
}
#main-header{
    background-color: greenyellow;
}
.col-md-6{
    text-align: center;
}
.align-self-center input{
    border: 2px solid red;
    height: 7vh;
    width: 50%;
}
#main{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}